@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Noto+Sans+KR:wght@400;500;700&family=Noto+Serif+TC:wght@400;500;600&display=swap");
body,
html {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  outline: none;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

input,
textarea {
  background: transparent;
  @apply placeholder-white;
}

.no-delay {
  transition-delay: 0s !important;
}

@layer base {
  div {
    @apply bg-center bg-cover;
  }
}
